body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/extra_clean_paper.png);
}

main {
    flex: 1 0 auto;
}

#webHeader {
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding: 0;
    margin: 20px;
    color: #ffffff;
}

#movieName {
    font-family: 'Signika', sans-serif;
    text-align: center;
}

#movieTag {
    text-align: justify;
    font-size: 20px;
}

#movieCategory {
    font-size: 20px;
}

#movieRating {
    font-size: 20px;
}

#movieDescription {
    text-align: justify;
    font-size: 20px;
}

#imgDiv {
    text-align: center;
}

#power {
    height: 40px;
    width: 100px;
}